[submodule "themes/nice-blog"]
	path = themes/nice-blog
	url = https://github.com/scrambldchannel/nice-blog.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
